/*Colores:
    #005187
    #4D82BC
    #84B6F4
    #C4DAFA
    #FCFFFF
*/

body{
    background: #C4DAFA;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
}

header{
    margin: 2%;
    display: inline-block;
    width: 50%;
}

header img{
    margin-top: 2%;
}

.botones{
    display: inline-block;
    width: 50%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.entrada{
    height: 60vh;
    color: #005187;
    font-size: 25px;
    border: 0;
    background: #C4DAFA;
    width: 100%;
    font-weight: bold; 
    padding: 2%;
    resize: none;
    overflow: overlay
}

.entrada::placeholder{
    color: #005187;
    font-weight: normal;
}

.exclamacion{
    width: 12px;
}

.advertencia{
    font-size: 12px;
}

.input_encriptar{
    background: #005187;
    color: #FCFFFF;
    border: 2px solid #005187;
    border-radius: 15px;
    width: 45%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.input_encriptar:hover{
    background: #4D82BC;
    color: #84B6F4;
    transition: 0s all;
    transform: scale(1.1);
    border: 2px solid #84B6F4;
}

.input_encriptar:active{
    background: #84B6F4;
    color: #005187;
    border: 2px solid #4D82BC;
}

.input_descencriptar{
    background: #84B6F4;
    color: #005187;
    border: 2px solid #4D82BC;
    border-radius: 15px;
    margin-left: 9%;
    width: 45%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.input_descencriptar:hover{
    background: #4D82BC;
    color: #84B6F4;
    transition: 0s all;
    transform: scale(1.1);
    border: 2px solid #84B6F4;
}

.input_descencriptar:active{
    background: #005187;
    color: #FCFFFF;
    border: 2px solid #005187;
}

.salida{
    width: 22%;
    height: 80vh;
    background: #FCFFFF;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
    padding: 0% 2% 1% 2%;
    border-radius: 25px;
    border: 1px solid #84B6F4;
    vertical-align: top;
}

.salida:hover{
    border-radius: 50px;
    border: 2px solid #4D82BC;
}

.salida p{
    font-size: 18px;
}

.muñeco{
    margin: auto;
    margin-top: 20%;
}

.salida1{
    height: 90%;
    overflow: auto;

}

.salida1::-webkit-scrollbar {
    display: none;
}


.input_copiar{
    width: 90%;
    background: #FCFFFF;
    color: #005187;
    border: 2px solid #4D82BC;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
    padding: 15px 0;
    margin: auto;
}

.input_copiar:hover{
    transition: 0s all;
    transform: scale(1.1);
    border: 2px solid #84B6F4;
}

.input_copiar:active{
    border: 2px solid #005187;
}

.salida2{
    margin-top: 5%;
}

.datos{
    background: #005187;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    min-height: 30%;
    margin-top: 2%;
}

.datos h2{
    color:#84B6F4;
}

.datos p, .datos a{
    color: #C4DAFA;
    vertical-align: baseline;

}

.datos a{
    font-weight: bold;
    text-decoration: none;

}

.datos a:hover{
    text-decoration: underline;
}



@media screen and (max-width: 1300px){
    html, body{
        height: 100%;
    }

    header{
        display: block;
        margin-bottom: 5%;
    }

    .botones{
        width: 80%;
        margin: 0 auto;
        display:block;

    }

    .exclamacion{
        width: 2%;
    }

    .botones p{
        font-size: 20px;
    }

    .muñeco{
        display: none;
    }

    .salida{
        width: 80%;
        margin-top: 8%;
        padding-top: 1%;
        max-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .salida1{
        width: 75%;
    }

    .salida2{
        display: inline-block;
        width: 25%;
        position: static;
    }

    .datos{
        min-height: 30%;
    }

}


@media screen and (max-width: 480px){
    body, html{
        width: 125%;
    }

    .botones{
        width: 80%;

    }

    .input_encriptar{
        width: 40%;
    }
    
    .input_descencriptar{
        width: 40%;
    }
}