/*Colores:
    #005187
    #4D82BC
    #84B6F4
    #C4DAFA
    #FCFFFF
*/

body{
    background: #C4DAFA;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header{
    margin: 2%;
    display: inline;
    width: 60%;
    vertical-align: top;
}

header img{
    margin-top: 2%;
}

.botones{
    display: inline-block;
    width: 50%;
}

.entrada{
    color: #005187;
    font-size: 25px;
    border: 0;
    background: #C4DAFA;
    width: 100%;
    font-weight: bold;
    padding: 2%;
}

.entrada::placeholder{
    color: #005187;
    font-weight: normal;
}

.exclamacion{
    width: 12px;
}

.advertencia{
    font-size: 12px;
}

.input_encriptar{
    background: #005187;
    color: #FCFFFF;
    border: 2px solid #005187;
    border-radius: 15px;
    width: 45%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.input_encriptar:hover{
    background: #4D82BC;
    color: #84B6F4;
    transition: 0s all;
    transform: scale(1.1);
    border: 2px solid #84B6F4;
}

.input_encriptar:active{
    background: #84B6F4;
    color: #005187;
    border: 2px solid #4D82BC;
}

.input_descencriptar{
    background: #84B6F4;
    color: #005187;
    border: 2px solid #4D82BC;
    border-radius: 15px;
    margin-left: 9%;
    width: 45%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.input_descencriptar:hover{
    background: #4D82BC;
    color: #84B6F4;
    transition: 0s all;
    transform: scale(1.1);
    border: 2px solid #84B6F4;
}

.input_descencriptar:active{
    background: #005187;
    color: #FCFFFF;
    border: 2px solid #005187;
}

.salida{
    width: 20%;
    background: #FCFFFF;
    text-align: center;
    display: inline-block;
    margin: 3% 0 3% 10%;
    padding: 11% 2% 1% 2%;
    border-radius: 25px;
    border: 1px solid #84B6F4;
}

.salida:hover{
    border-radius: 50px;
    border: 2px solid #4D82BC;
}

.salida:active{
    border-radius: 100px;
    border: 4px solid #005187;

}

.salida p{
    font-size: 18px;
}

.datos{
    background: #005187;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
}

.datos h2{
    color:#84B6F4;
}

.datos p, .datos a{
    color: #C4DAFA;
}

.datos a{
    font-weight: bold;
    text-decoration: none;
}

.datos a:hover{
    text-decoration: underline;
}
